* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* NAVIGATION PAGE */
nav {
  height: 100px;
  width: 100%;
  background-color: #35779f;
  border-radius: 5px;
  padding: 10px;
}
.links {
  display: flex;
  gap: 50px;
  padding-left: 500px;
  font-family: taho;
}
.links a {
  color: white;
  text-decoration: none;
}
.links a:hover {
  color: #ffffff;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
nav {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 30px;
  gap: 300px;
  border-radius: 10px;
}

/* HOME PAGE */

.logo {
  display: flex;
  align-items: center;
  gap: 3px;
}
.left {
  height: 600px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ffffff; */
  border-radius: 50px;
}
.right {
  height: 600px;
  width: 60%;
  /* background-color: #35779f; */
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: tahoma;
  font-size: 20px;
  flex-direction: column;
  padding: 50px;
}
.right .getbutton {
  margin-top: 20px;
  height: 50px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  color: rgb(27, 162, 224);
  border-radius: 15px;
  font-size: 15px;
  font-family: tahoma;
  border: none;
  cursor: pointer;
}
.right .getbutton:hover {
  color: white;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.right h1 {
  font-size: 70px;
  color: #35779f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.right p {
  width: 850px;
  color: #35779f;
  font-family: Tahoma;
  font-weight: 100;
  margin-top: 10px;
  font-size: 30px;
}
.title {
  width: 400px;
  font-size: 20px;
  font-family: Tahoma;
  padding-right: 100px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
}
.main {
  padding-top: 50px;
  display: flex;
  /* background-color: #f9f7d1; */
  height: 850px;
  gap: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  margin: 5px;
}
.input label{
  margin-top: 10px;
}
form input {
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}
/* REGISTER PAGE  */

.register {
  min-height: 100vh;
  width: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 30px;
}
.button {
  background-color: #f0f0f0;
  height: 30px;
  width: 150px;
  margin-top: 23px;
  border-radius: 10px;
}
.register-form {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  font-family: tahoma;
  border:none;
}
.register-form h1{
  text-align: center;
}

/* LOG IN PAGE */
.login {
  height: 820px;
  width: 100%;
  /* background-color: #e5dce6; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.login-form {
  height: 500px;
  padding: 40px;
  width: auto;
  max-width: 400px;
  background-color: rgb(255, 255, 255);
  border: 1px none black;
  font-family: tahoma;
  border-radius: 12px;
}
.login-form h1 {
  margin-bottom: 30px;
  color: #000000;
  font-size: 30px;
  text-align: center;
}
.actions{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.actions .button {
  background-color: rgb(27, 162, 224);
  font-size: 20px;
  font-family: Tahoma;
  font-weight: 3px;
  color: white;
  border: none;
  cursor: pointer;
}
.input input {
  padding: 12px;
  border: 1px solid #a09a9a;
  border-radius: 10px;
  outline: none;
}
.input input:focus{
    border-color: #572c6d;
    box-shadow: 0 0 10px #572c6d white;
}
.input input::placeholder {
    color: #999;
}